name: LambdaDeploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Zip Lambda
        run: zip -r lambda.zip .

      - name: Upload to S3
        run: aws s3 cp lambda.zip s3://scalable-arch-codedeploy-jyothi/
